# Logs
logs
*.log
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
Thumbs.db
dist
dist-ssr
coverage
*.local

# Env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

test-results/
playwright-report/
.agents/

*.bak
*.backup

